<form [formGroup]="imageForm">
  <div *ngIf="showRemoveButton">
    <header>
      <h2>Images</h2>
    </header>
    <div class="form-group">
      <div class="form-group">
          <label for="homeFormImageAltText">Alternative text</label>
          <input type="text" class="form-control" id="homeFormImageAltText" placeholder="Enter image alternative text" formControlName="altText">
      </div>
      <div class="form-group" [class.alert]="!imageForm.get('url').valid && imageForm.get('url').touched" [class.alert-danger]="!imageForm.get('url').valid && imageForm.get('url').touched">
          <label for="homeFormImageUrl">URL</label>
          <input type="text" class="form-control" id="homeFormImageUrl" placeholder="Enter image URL" formControlName="url" required>
      </div>
      <button type="submit" class="form-group btn btn-secondary" [disabled]="!imageForm.valid" (click)="addImage()">Add</button>
    </div>
  </div>
  <ngb-carousel *ngIf="imagesList">
    <ng-template ngbSlide *ngFor="let image of imagesList">
      <img [src]="image.url" [alt]="image.alt">
    </ng-template>
  </ngb-carousel>
    
  <div *ngIf="imagesList.length !== 0 && showRemoveButton">
    <button type="submit" class="form-group btn btn-secondary w-100" (click)="removeImage()">Remove currently active image</button>
  </div>
  <div *ngIf="imagesList.length === 0">
    <img src="https://via.placeholder.com/370" alt=""> 
  </div>
</form>