<header>
    <div class="container mt-2">
        <div class="d-flex flex-row align-items-center">
            <div class="col-3">
                <a href='/'>
                    <img src="../../assets/images/logo.PNG">
                </a>
            </div>
            <div class="col-9">
                <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']" class="pull-right btn btn-info">Login</a>
                <div class="d-flex flex-row-reverse align-items-center" *ngIf="authService.isLoggedIn()">
                    <a (click)="authService.logout()" class="btn btn-info pull-right">Logout</a>
                    <span class="p-2"> Welcome, {{authService.getUser()}}</span>
                </div>
            </div>
        </div>
    </div>
</header>