<header>
    <div class="container mt-2">
        <div class="d-flex flex-row align-items-center">
            <div class="col-1">
                <a [routerLink]="['/']">
                    <img src="../../assets/images/logo.PNG">
                </a>
            </div>
            <div class="col-11 p-0 d-flex flex-row-reverse align-items-center">
                <div class="col-9 navMenu">
                    <nav>
                        <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']" class="pull-right menuOption">Login</a>
                        <a *ngIf="authService.isLoggedIn()" (click)="authService.logout()" class="pull-right menuOption">Logout</a>
                        <a *ngIf="authService.isLoggedIn()" [routerLink]="['/holidayhome']" class="pull-left menuOption">Manage Holiday Home</a>
                    </nav>
                </div>
                <div class="col-3">
                    <span *ngIf="authService.isLoggedIn()" class="align-self-center"> Welcome, {{authService.getUser()}}</span>
                </div>
            </div>
        </div>
    </div>
</header>