header {
    border-bottom: 1em solid  rgba(0, 152, 255, .55);
}
a {
    display: inline-block;
}
img {
    height: 75px;
    width: 56px;
}
.navMenu {
    padding: 0.4em;
    color: white;
    background-color: rgba(0, 152, 255, .55);
    font-size: 1.1rem;
    font-weight: 500;
}
.menuOption { 
    border-bottom: 0.1em solid #0b9ea5;
}
.menuOption:hover {
    color: black;
    border-bottom: 0.1em solid #0085ad;
}