#footerbottom{
    color: white;
    background: linear-gradient(45deg,#0085ad,#0b9ea5);
    box-shadow: inset 1px 9px 19px -8px rgba(0,68,88,.55);
}
.social-media .fa{
    padding-left: 0.5em;
    padding-right: 0.5em;
}