<footer class="footer" id="footerbottom">
    <div class="container">
        <div class="row pt-2">
            <div class="col-3">
                <h5>Customer service</h5>
                <ul class="list-unstyled">
                    <li>
                        <a>Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Company info</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="" title="">Get to know us</a>
                    </li>
                    <li>
                        <a href="" title="">Privacy and cookie policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h5>What we offer</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/" title="">Holiday rentals</a>
                    </li>
                    <li>
                        <a href="" title="">Travel tips</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h5>We are social</h5>
                <div class="social-media">
                    <a class="fa fa-facebook" href="" target="_blank" title="Facebook"></a>
                    <a class="fa fa-twitter" href="" target="_blank" title="Twitter"></a>
                </div> 
            </div>
        </div>   
        <div class="row">
            <div class="col-4 offset-4">
                <p>© 2020 Fabricio Vallasciani - All rights reserved </p>
            </div>         
        </div>
    </div>
</footer>