<div class="container">
    <form>
        <header>
            <h2>Holiday home</h2>
        </header>
        <div class="form-group">
            <label for="homeFormDescription">Description</label>
            <input type="text" class="form-control" id="homeFormDescription" #newDescription placeholder="Enter short description">
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="form-group">
                <label for="homeFormBedrooms">Bedrooms</label>
                <input type="number" class="form-control" id="homeFormBedrooms" #newBedrooms>
            </div>
            <div class="form-group">
                <label for="homeFormSleeps">Sleeps</label>
                <input type="number" class="form-control" id="homeFormSleeps" #newSleeps>
            </div>
            <div class="form-group">
                <label for="homeFormBathrooms">Bathrooms</label>
                <input type="number" class="form-control" id="homeFormBathrooms" #newBathrooms>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="form-group">
                <label for="homeFormLivingArea">Living area</label>
                <input type="number" class="form-control" id="homeFormLivingArea" #newLivingArea>
            </div>
            <div class="form-group">
                <label for="homeFormTerraceArea">Terrace area</label>
                <input type="number" class="form-control" id="homeFormTerraceArea" #newTerraceArea>
            </div>
            <div class="form-group">
                <label for="homeFormGardenArea">Garden area</label>
                <input type="number" class="form-control" id="homeFormGardenArea" #newGardenArea>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="form-group">
                <label for="homeFormDistanceToAirport">Distance to airport</label>
                <input type="number" class="form-control" id="homeFormDistanceToAirport" #newDistanceToAirport>
            </div>
            <div class="form-group">
                <label for="homeFormDistanceToBeach">Distance to beach</label>
                <input type="number" class="form-control" id="homeFormDistanceToBeach" #newDistanceToBeach>
            </div>
            <div class="form-group">
                <label for="homeFormDistanceToShopping">Distance to shopping</label>
                <input type="number" class="form-control" id="homeFormDistanceToShopping" #newDistanceToShopping>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="homeFormHasBalcony" #newHasBalcony>
            <label class="form-check-label" for="homeFormHasBalcony">Has balcony?</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="homeFormHasPatio" #newHasPatio>
            <label class="form-check-label" for="homeFormHasPatio">Has patio?</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="homeFormHasWiFi" #newHasWiFi>
            <label class="form-check-label" for="homeFormHasWiFi">Has WiFi?</label>
        </div>
        <app-holiday-home-item-image [imageList]="newHolidayHome.imageList" [showRemoveButton]="true"></app-holiday-home-item-image>            
        <button type="submit" class="form-group btn btn-primary w-100" (click)="addHome(newDescription, newBedrooms, newLivingArea, newHasWiFi, newSleeps, newTerraceArea, newHasBalcony, newBathrooms, newGardenArea, newHasPatio, newDistanceToAirport, newDistanceToBeach, newDistanceToShopping)">Submit</button>
    </form>
</div>