<div class="container" *ngIf="holidayHomesListObs | async as holidayHomesList; else loading">
    <header>
        <h2 *ngIf="ownerObs | async as owner; else loadingOwner">Holiday homes owned by {{ owner.firstName + ' ' + owner.lastName }}</h2>
        <ng-template #loadingOwner>
            <div>Loading ...</div>
        </ng-template>  
    </header>
    <div *ngIf="holidayHomesList.length > 0">
        <p>{{ holidayHomesList.length }} properties found</p>
        <div class="card mt-3 mb-3" *ngFor="let home of holidayHomesList">
            <app-holiday-home-item [homeItem]="home"></app-holiday-home-item>
        </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="holidayHomesList.length === 0">
        <figure>
            <img src="https://via.placeholder.com/500?text=No+homes+for+this+owner" alt=""> 
        </figure>
    </div>
</div>
<ng-template #loading>
    <div>Loading ...</div>
</ng-template>  