.card-header{
    background-color: rgba(0, 152, 255, .60);
}
h4 {
    font-style: italic;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}