.card-header{
    background: linear-gradient(45deg,#0085ad,#0b9ea5);
    box-shadow: inset 1px 9px 19px -8px rgba(0,68,88,.55);
}
h4 {
    font-style: italic;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}